<!DOCTYPE html>

<html lang="en">
    <head>
        <title>About Me!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        </head>
    <body>
        <img class="middle" src="https://bit.ly/2Km3ADP" alt="steven holding out his hands">
        <p>My name is Steven, and I'm a member of the Crystal Gems, some of the toughest heroes on Earth!</p>
        <br>
        <p>I usually spend my time hanging out with them on missions, but one of my passions outside of that is blogging.
        Specifically, blogging about my favorite food in the world, Fry Bits!</p>
        <br>
        <p>They're a staple of my local fry stand run by the Frymans, and they. are. to. die. for. I hope all
        of my readers enjoy my reviews as much as I do. -Steven Universe</p>
        <a href="/">Back to Home</a>
    </body>
</html>