<!DOCTYPE html>
 <html lang="en">
    <head>
     <title>Contact Me!</title>
    </head>
{% block body %}
        <div class="centered">
        <img src="https://bit.ly/2Irrhpl" alt="steven jumping in the air with his shield">
        </div>
        <div class="dave">
            <p>Instagram:<a href="http://www.instagram.com">steven_universe</a></p>
            <p>Blogspot:<a href="http://www.blogspot.com">Steve.n.Universe</a></p>
            <p>Phone: 555-555-5656</p>
            </div>
        <div class="dan">
        <a href="/">Back to Home</a>
        </div>
{% endblock %}